img#examples {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 99%;

    @media (min-width: $screen-sm-min) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;

  	}
  @media (min-width: $screen-md-min) {

  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
  }
  @media (min-width: $screen-lg-min) {
  
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
  }
}

span.bolding{
	font-family: visby;
	font-size:26px;
}

span.bolding1{
	font-family: visby;
	font-size:42px;
	color: white;
}

.wow.fadeIn.ng-scope {
    margin-bottom: 100px;
}