// Media Queries
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

body{
  background-color: black;
  @media (min-width: $screen-sm-min) {
    background-color: black;
  }
  @media (min-width: $screen-md-min) {
  background-color: black;
  }
  @media (min-width: $screen-lg-min) {
  background-color: black;  
  }
}

.navbar-default .navbar-nav > li > a{
  text-transform: uppercase;
  color: white;
  font-family: visby;  
  text-decoration:none;
  font-size: 28px;
  @media (min-width: $screen-sm-min) {
    padding-top: 28px;
    font-size: 32px;
    &:hover{
      color: green;
      text-decoration:none;
    }
  }
  @media (min-width: $screen-md-min) {
    padding-top: 28px;  
    font-size: 32px;
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 28px;
    font-size: 32px;
  }
  &:hover{
    color: grey;
    text-decoration:none;
  }
}

#logo{
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
    width: 140px;
  }
  @media (min-width: $screen-md-min) {
    width: 140px;
    display: block;
  }
  @media (min-width: $screen-lg-min) {
    display: block;
  }
}

#kevin{
 font-size: 26px;
  @media (min-width: $screen-sm-min) {
     display: none;
  }
  @media (min-width: $screen-md-min) {
   display: none;
  }
  @media (min-width: $screen-lg-min) {
    display: none;
  }
  
}

.navbar-default{
  background-color: black;
  border-color: black;
}

.navbar-collapse{
background-color: black;
  border-color: black;
  
}

i.icon-github-square {
    color: white;
    font-size: 70px;
     -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
}

i.icon-facebook-square {
    color: white;
    font-size: 70px;
     -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
}

i.icon-linkedin-square {
    color: white;
    font-size: 70px;
     -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
}