// Media Queries
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.project{
 //border: 1px solid red;
 height: 200px;
 border-radius: 5px;
  &:hover .overlay{
   opacity: 1;
  }
}

#portfolio{
  padding-top:10px;
}

.project--instacutz{
  background-image: url('./portfolio/InstaCutz.png');
  width: 350px;
  height: 600px;
  margin: 0 auto;

   @media (min-width: $screen-sm-min) {
   width: 700px;
  height: 600px;
  margin: 0 auto;

  }
  @media (min-width: $screen-md-min) {
  width: 899px;
  height: 600px;
  margin: 0 auto;
  }
  @media (min-width: $screen-lg-min) {
  width: 899px;
  height: 600px;
  margin: 0 auto;

  }
}

.project--game{
  background-image: url('./portfolio/Game.png');
  width: 350px;
  height: 600px;
  margin: 0 auto;

  @media (min-width: $screen-sm-min) {
  width: 700px;
  height: 600px;
  margin: 0 auto;

  }
  @media (min-width: $screen-md-min) {
  width: 899px;
  height: 600px;
  margin: 0 auto;


  }
  @media (min-width: $screen-lg-min) {
  width: 899px;
  height: 600px;
  margin: 0 auto;

  }
}

.project--challenge{
  background-image: url('./portfolio/Challengr.png');
  width: 350px;
  height: 600px;
  margin: 0 auto;

  @media (min-width: $screen-sm-min) {
  width:  700px;
  height: 600px;
  margin: 0 auto;

  }
  @media (min-width: $screen-md-min) {
  width: 899px;
  height: 600px;
  margin: 0 auto;


  }
  @media (min-width: $screen-lg-min) {
  width: 899px;
  height: 600px;
  margin: 0 auto;

  }
}

.overlay {  
 background: rgba(27, 26, 26, 0.8);
 border-radius: 5px;
 opacity: 0;
 transition: opacity .3s ease;
 flex: 1;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 a{
  color: white;
  font-size: 42px;
  margin-right: 80px;
  font-family: visby;
 }
}