@font-face {
  font-family: visby;
  src: url('font/VisbyCF-Bold.ttf');
}

@font-face {
  font-family: visby1;
  src: url('font/VisbyCF-Thin.ttf');
}

@-webkit-keyframes fadein {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-125px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes fadeup {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,400px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

h1{
  font-family: visby;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
}
h2{
  font-family: visby;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
h3{
  font-family: visby1;

  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

body{
	background-color:black;
}


@import 'header';
@import 'home';
