// Media Queries
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@font-face {
  font-family: visby;
  src: url('font/VisbyCF-Bold.ttf');
}

@font-face {
  font-family: visby1;
  src: url('font/VisbyCF-Thin.ttf');
}

@-webkit-keyframes fadein {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-125px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes fadeup {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,400px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

h1{
  font-family: visby;
  font-size: 40px;
  color: white;
  margin-top: 0px;
  text-align: center;

  @media (min-width: $screen-sm-min) {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  }
  @media (min-width: $screen-md-min) {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  }
  @media (min-width: $screen-lg-min) {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  }

}

h2{
  font-family: visby;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
h3{
  font-family: visby1;
  font-size: 20px;
  color: white;
}
h4{
  font-family: visby;
  font-size: 50px;
  color: white;
  text-align:center;

  @media (min-width: $screen-sm-min) {
  margin-bottom:30px;
  margin-top:60px;
  
  }
  @media (min-width: $screen-md-min) {
  margin-bottom:30px;
  margin-top:60px;
  
  }
  @media (min-width: $screen-lg-min) {
  margin-bottom:30px;
  margin-top:60px;
  
  }
}

body{
	background-color:black;
}

@import 'header';
@import 'home';
@import 'blog';
@import 'portfolio';
