@font-face {
  font-family: visby;
  src: url("font/VisbyCF-Bold.ttf");
}
@font-face {
  font-family: visby1;
  src: url("font/VisbyCF-Thin.ttf");
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -125px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
h1 {
  font-family: visby;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
}

h2 {
  font-family: visby;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

h3 {
  font-family: visby1;
  font-size: 20px;
  color: white;
}

body {
  background-color: black;
}

.project {
  height: 200px;
  border-radius: 5px;
}
.project:hover .overlay {
  opacity: 1;
}

.project--instacutz {
  background-image: url("./portfolio/InstaCutz.png");
  width: 899px;
  height: 600px;
  margin: 0 auto;
}

.project--game {
  background-image: url("./portfolio/Game.png");
  width: 899px;
  height: 600px;
  margin: 0 auto;
}

.project--challenge {
  background-image: url("./portfolio/Challengr.png");
  width: 899px;
  height: 600px;
  margin: 0 auto;
}

.overlay {
  background: rgba(72, 72, 72, 0.8);
  border-radius: 5px;
  opacity: 0;
  transition: opacity .3s ease;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay a {
  color: white;
}

header {
  background-color: black;
  display: flex;
  padding: 10px 10px 0px 0px;
}
header ul {
  display: flex;
  flex: 1;
  height: 165px;
  margin: 0px;
}
header ul li {
  flex: 3.4;
  display: flex;
  align-items: center;
}
header ul li:first-child {
  flex: 1;
  display: flex;
  align-items: center;
}
header ul li:last-child {
  flex: 1;
  display: flex;
  align-items: center;
}
header ul li img {
  margin-top: 0px;
  padding-top: 10px;
  height: 180px;
  width: 180px;
  -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
}
header ul li a {
  color: white;
  text-align: center;
  text-transform: uppercase;
  flex: 1;
  font-size: 36px;
  font-family: visby;
  -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
}
header ul li a:hover {
  font-size: 32px;
  text-decoration: none;
  color: red;
}

i.icon-github-square {
  font-size: 90px;
  -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
}

i.icon-facebook-square {
  font-size: 90px;
  -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
}

i.icon-linkedin-square {
  font-size: 90px;
  -webkit-animation: fadein ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
}

p {
  font-family: visby1;
  text-align: center;
  font-size: 20px;
  color: white;
}

.col-md-10 {
  margin: 0px 0px 80px 115px;
  -webkit-animation: fadeup ease .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
}

#skillsSection {
  margin-top: 60px;
}

#skillsImg {
  border-radius: 50%;
  margin-left: 135px;
  margin-right: 60px;
}

#skillsRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

img#examples {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

span.bolding {
  font-family: visby;
  font-size: 26px;
}

span.bolding1 {
  font-family: visby;
  font-size: 42px;
  color: white;
}

.wow.fadeIn.ng-scope {
  margin-bottom: 100px;
}

/*# sourceMappingURL=main.css.map */
